
.button {
  position: absolute;
  z-index: 5;
  outline: none;
  border: none;
  width: 145px;
  height: 145px;
  font-size: 36px;
  border-radius: 70px;
  top: 175px;
  left: calc(50% - 75px);
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
/* background: #66ccff;*/
  /*color: white;*/
  cursor: pointer;
}

.button:hover{
	background-image: url("../images/menuHover.gif");
	background-repeat: no-repeat;
	
}


.openMenu {
  position: absolute;
  width: 315px;
  height: 120px;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: auto 0;
  cursor: pointer;
}
.openMenu:hover {
  font-size: 26px;
  transition: all 0.4s;
}
.otherButton1 {
  top: 120px;
  left: calc(50% - 325px);
  background: #5567b4;
  z-index: 4;
  border: 2px outset #5567b4;
}


.otherButton2 {
  top: 120px;
  left: calc(50% + 0px);
  background: #5567b4;
  border: 2px outset #5567b4;
}
.otherButton3 {
  top: 245px;
  left: calc(50% + 0px);
  background: #5567b4;
  border: 2px outset #5567b4;
}
.otherButton4 {
  top: 245px;
  left: calc(50% - 325px);
  background: #5567b4;
  border: 2px outset #5567b4;
}

.hidden {
  display: none;
}

@keyframes rubberEffectHome {
  0% {transform: scale(1); top: calc(180px - 30px); left: calc(50% - 30px -75px);}
  10% {transform: scaleX(0.65) scaleY(1.35); top: calc(180px - 30px); left: calc(50% - 30px -75px);}
  20% {transform: scaleX(1.05) scaleY(0.95); top: calc(180px - 50px); left: calc(50% - 50px -75px);}
  30% {transform: scaleX(1.25) scaleY(0.75); top: calc(180px - 70px); left: calc(50% - 70px -75px);}
  40% {transform: scaleX(0.75) scaleY(1.25); top: calc(180px - 90px); left: calc(50% - 80px -75px);}
  60% {transform: scaleX(1.15) scaleY(0.85); top: calc(180px - 100px); left: calc(50% - 100px -75px);}
  100% {transform: scale(1);}
}


@keyframes rubberEffectAbout {
  0% {transform: scale(1); top: calc(180px - 30px); left: calc(50% - 30px);}
  10% {transform: scaleX(0.65) scaleY(1.35); top: calc(180px - 30px); left: calc(50% - 30px);}
  20% {transform: scaleX(1.05) scaleY(0.95); top: calc(180px - 50px); left: calc(50% - 20px);}
  30% {transform: scaleX(1.25) scaleY(0.75); top: calc(180px - 70px); left: calc(50% + 10px);}
  40% {transform: scaleX(0.75) scaleY(1.25); top: calc(180px - 90px); left: calc(50% + 20px);}
  60% {transform: scaleX(1.15) scaleY(0.85); top: calc(180px - 100px); left: calc(50% + 30px);}
  100% {transform: scale(1);}
}
@keyframes rubberEffectWork {
  0% {transform: scale(1); top: calc(180px - 30px); left: calc(50% - 30px);}
  10% {transform: scaleX(0.65) scaleY(1.35); top: calc(180px - 30px); left: calc(50% - 30px);}
  20% {transform: scaleX(1.05) scaleY(0.95); top: calc(180px + 10px); left: calc(50% - 20px);}
  30% {transform: scaleX(1.25) scaleY(0.75); top: calc(180px + 20px); left: calc(50% - 10px);}
  40% {transform: scaleX(0.75) scaleY(1.25); top: calc(180px + 25px); left: calc(50% + 20px);}
  60% {transform: scaleX(1.15) scaleY(0.85); top: calc(180px + 30px); left: calc(50% + 30px);}
  100% {transform: scale(1);}
}
@keyframes rubberEffectContact {
  0% {transform: scale(1); top: calc(50% - 30px); left: calc(50% - 30px);}
  10% {transform: scaleX(0.65) scaleY(1.35); top: calc(180px - 30px); left: calc(50% - 30px);}
  20% {transform: scaleX(1.05) scaleY(0.95); top: calc(180px + 10px); left: calc(50% - 50px);}
  30% {transform: scaleX(1.25) scaleY(0.75); top: calc(180px + 20px); left: calc(50% - 70px);}
  40% {transform: scaleX(0.75) scaleY(1.25); top: calc(180px + 25px); left: calc(50% - 90px);}
  60% {transform: scaleX(1.15) scaleY(0.85); top: calc(180px + 30px); left: calc(50% - 100px);}
  100% {transform: scale(1);}
}
.otherButton1 {
  animation-name: rubberEffectHome;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.otherButton2 {
  animation-name: rubberEffectAbout;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
.otherButton3 {
  animation-name: rubberEffectWork;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.otherButton4 {
  animation-name: rubberEffectContact;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
}

@keyframes flipEffect {
  0% {transform: perspective(800px) translateZ(0) rotateY(0) scale(1);animation-timing-function: ease-out;}
  40% {transform: perspective(800px) translateZ(110px) rotateY(170deg) scale(1);animation-timing-function: ease-out;}
  50% {transform: perspective(800px) translateZ(110px) rotateY(190deg) scale(1);animation-timing-function: ease-in;}
  80% {transform: perspective(800px) translateZ(0) rotateY(360deg) scale(.95);animation-timing-function: ease-in;}
  100% {transform: perspective(800px) translateZ(0) rotateY(360deg) scale(1);animation-timing-function: ease-in;}
}

.flip-active {
  backface-visibility: visible;
  animation-name: flipEffect;
  animation-duration: 1.5s;
}